.grocery-list-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.navigation-container {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}

.navigation-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.grocery-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group {
  display: flex;
  gap: 10px;
}

.table-container {
  position: absolute;
  left: 0;
  width: 20%; /* Make the table smaller */
  max-height: 50%; /* Maximum height for scrollability */
  overflow-y: auto; /* Enables vertical scrolling */
  border: 1px solid #ccc;
  margin-top: 50px;
}

.grocery-table {
  width: 100%;
  border-collapse: collapse;
}

.grocery-table th,
.grocery-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
