.mainpage-container {
  background-size: cover; /* Cover the entire area of the container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-attachment: fixed; /* Optional: Fixes the background image during scroll */
  min-height: 100vh; /* Minimum height to cover the whole viewport */
  color: #fff; /* Ensures text is readable, change as per your design */
  position: relative; /* Needed to position text over the image */
  overflow: hidden; /* Prevents the white space at the top */
}

.heading {
  color: #021c54;
  text-align: center;
  margin-top: 20px;
} 

p {
  text-align: center;
  color: #283156;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.input-group {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #000000;
  margin-right: 10px;
}

.small-input {
  width: 100px; /* Width of the smaller input field */
  margin-left: 0px; /* Reduce spacing for visual consistency */
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.list-section {
  color: #283156;
}

button:hover {
  background-color: #ffa726;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  color: white;
  margin: 10px 0;
  background-color: #83b083;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.error-message {
  color: red;
  font-size: 0.8em;
  text-align: center;
  margin-top: 5px;
}

.container {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px; /*space between buttons*/
}
