.recipes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.preferences {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

h2 {
    color: #333; /* Dark text for headings */
}

label {
    display: block;
    margin: 5px 0;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.recipes-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.recipe {
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    width: calc(33.333% - 20px); /* Adjust width to show three items per row */
    box-sizing: border-box;
}

.navigation-buttons {
    margin-top: 20px;
}

.nutrition-details {
    color: #222; /* Darker color for nutrition details text */
    font-weight: bold; /* Makes text bold for better visibility */
    margin-top: 10px;
}

@media (max-width: 768px) {
    .recipe {
        width: calc(50% - 20px); /* Show two items per row on smaller screens */
    }
}

@media (max-width: 480px) {
    .recipe {
        width: 100%; /* Stack vertically on very small screens */
    }
}
